@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Permanent+Marker&family=Secular+One&family=Yanone+Kaffeesatz:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Secular+One&family=Yanone+Kaffeesatz:wght@500&display=swap');

* {
  font-family: 'Secular One', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  background-image: url("https://images.ctfassets.net/usf1vwtuqyxm/71J6YPxNauhFABbjHpGluJ/631bd6980b0a430d5b476ef331abb2b5/release_1_hogwarts.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: 'Permanent Marker', cursive;
}

header {
  text-align: center;
  margin-top: 20px;
  background-color: #4caf50a3;
  padding: 10px;
}

footer {
  text-align: center;
  margin-bottom: 20px;
  background-color: #4CAF50;
  color: white;
  padding: 10px;
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  flex-grow: 1;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #f5f4b3c4;
}

form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

input {
  padding: 5px;
}

button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button[type="submit"] {
  margin-top: 10px;
}

footer {
  text-align: center;
}

footer nav {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

footer nav a {
  margin: 0 5px;
  text-decoration: none;
  color: #000700;
}

#character_cont {
    display: flex;
  }

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    flex-grow: 1;
    background-color: white;
}
  
.character_card {
    flex: 0 0 auto;
    width: 300px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  

/* Media queries */

@media only screen and (max-width: 600px) {
  body {
      padding: 10px;
  }

  header {
      margin-top: 10px;
      font-size: 24px;
  }

  main {
      margin-bottom: 10px;
  }

  footer {
      margin-bottom: 10px;
  }
}
  