@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Permanent+Marker&family=Secular+One&family=Yanone+Kaffeesatz:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Secular+One&family=Yanone+Kaffeesatz:wght@500&display=swap');

* {
  font-family: 'Secular One', sans-serif;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  color: white;
}

header {
  text-align: center;
  padding: 10px;
}

header img {
  max-width: 100%;
  height: auto;
}

footer {
  text-align: center;
  margin-bottom: 20px;
  background-color: #d2e3fcc9;
  color: white;
  padding: 10px;
}

main {
  margin-bottom: 20px;
  flex-grow: 1;
}

form {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    /* background-color: #f44280; */
    /* background-image: url(https://i.imgur.com/aA4VJAc.png); */
    color: #ffaa00;
}

form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

input {
  padding: 5px;
}

button {
  padding: 10px;
  background-color: #5f6368;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: lighter;
  margin-top: 20px;
}

button[type="submit"] {
  margin-top: 10px;
}

footer nav {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

footer nav a {
  margin: 0 5px;
  text-decoration: none;
  color: #000700;
}

#map_title {
  color:black;
}

.content_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  background-image: url("https://images.ctfassets.net/usf1vwtuqyxm/71J6YPxNauhFABbjHpGluJ/631bd6980b0a430d5b476ef331abb2b5/release_1_hogwarts.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  background-image: url(https://rare-gallery.com/uploads/posts/1142416-women-movies-wizard-Harry-Potter-Emma-Watson-Hermione-Granger-darkness-screenshot-computer-wallpaper-fictional-character-special-effects.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



#results_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  background-image: url(https://t4.ftcdn.net/jpg/03/15/21/23/360_F_315212386_0d6tLTU3dzclZSIXyfc1s8i09hP3df5U.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#character_cont {
    display: flex;
    flex-direction: column;
  }

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    flex-grow: 1;
    background-color: white;
}
  
.character_card {
    flex: 0 0 auto;
    width: 300px;
    padding: 20px;
    background-image: url(https://ideastoknow.com/wp-content/uploads/2022/01/wp7796308-harry-potter-hd-mobile-wallpapers-e1643183070136.jpg);
    border: 5px solid #d2e3fc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
}
 
.character_card img {
    max-width: 100%;
    height: auto;
}

#googleSignInButton {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #757575;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 20px;
}

#googleSignInButton img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

#map {
  height: 500px;
  background-color: transparent;
}

.mapImg {
  margin: 0, auto;
  width: 30px;
  padding: 10px 17px;
}

/* Media queries */

@media only screen and (max-width: 600px) {
  body {
      padding: 10px;
  }

  header {
      margin-top: 10px;
      font-size: 24px;
  }

  main {
      margin-bottom: 10px;
  }

  footer {
      margin-bottom: 10px;
  }
}
  